# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @madskristensen @hyperupcall

# Managed by Ansible DevTools Team members:
src/schemas/json/ansible-* @ssbarnea @webknjaz
src/test/ansible-* @ssbarnea @webknjaz
src/test/yamllint/ansible-* @ssbarnea @webknjaz

# Zuul CI Schemas:
src/schemas/json/zuul.json @ssbarnea
src/test/zuul/ @ssbarnea
src/negative_test/zuul/ @ssbarnea

# Managed by CircleCI Developer Experience team:
src/schemas/json/circleciconfig.json @CircleCI-Public/developer-experience
src/test/circleciconfig/ @CircleCI-Public/developer-experience
src/negative_test/circleciconfig/ @CircleCI-Public/developer-experience

# For testing purposes
editor-features.md @hyperupcall
