# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
#
# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @madskristensen @hyperupcall

# Managed by Ansible DevTools Team members:
src/schemas/json/ansible-* @ssbarnea @webknjaz
src/test/ansible-* @ssbarnea @webknjaz
src/test/yamllint/ansible-* @ssbarnea @webknjaz

# Zuul CI Schemas:
src/schemas/json/zuul.json @ssbarnea
src/test/zuul/ @ssbarnea
src/negative_test/zuul/ @ssbarnea

# Managed by CircleCI Developer Experience team:
src/schemas/json/circleciconfig.json @CircleCI-Public/developer-experience @meeech @gordonsyme
src/test/circleciconfig/ @CircleCI-Public/developer-experience @meeech @gordonsyme
src/negative_test/circleciconfig/ @CircleCI-Public/developer-experience @meeech @gordonsyme

# Managed by JetBrains YouTrack team
src/schemas/json/youtrack-app.json @skoch13 @andrey-skl @zmaks
src/test/youtrack-app/ @skoch13 @andrey-skl @zmaks
src/negative_test/youtrack-app/ @skoch13 @andrey-skl @zmaks

# Managed by Vector Informatik canoe-ci-tools team
src/schemas/json/venvironment-* @vectorgrp/canoe-ci-tools @raphael-grimm @JoergSrj
src/test/venvironment-* @vectorgrp/canoe-ci-tools @raphael-grimm @JoergSrj
src/negative_test/venvironment-* @vectorgrp/canoe-ci-tools @raphael-grimm @JoergSrj
src/schemas/json/venvplus-* @vectorgrp/canoe-ci-tools @raphael-grimm @JoergSrj
src/test/venvplus-* @vectorgrp/canoe-ci-tools @raphael-grimm @JoergSrj
src/negative_test/venvplus-* @vectorgrp/canoe-ci-tools @raphael-grimm @JoergSrj

# Managed by CTFer.io team:
src/schemas/json/ctfd.json @pandatix @NicoFgrx
src/test/ctfd/* @pandatix @NicoFgrx

# Managed by tombi-toml team:
src/schemas/json/cargo.json @yassun7010
src/schemas/json/tombi.json @yassun7010
src/schemas/json/pyproject.json @yassun7010

# Managed by Contextive Team:
src/schemas/json/contextive-glossary.json @chrissimon-au
src/test/contextive-glossary/ @chrissimon-au
src/negative_test/contextive-glossary/ @chrissimon-au

# pnpm Schemas:
src/schemas/json/pnpm-workspace.json @danielbayley @btea
src/test/pnpm-workspace/ @danielbayley @btea
