root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,json,toml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.cshtml]
indent_style = space
indent_size = 4

[*.sh]
indent_style = tab
