/*

!/src
/src/*

!/src/api
/src/api/*
!/src/api/json

!/src/schemas
/src/schemas/*
!/src/schemas/json

!/src/test

# grunt http schemas
/src/schemas/json/swagger-2.0.json
/src/schemas/json/resume.json
/src/schemas/json/jsonld.json
/src/schemas/json/ninjs-1.3.json
/src/schemas/json/ninjs-1.2.json
/src/schemas/json/ninjs-1.1.json
/src/schemas/json/ninjs-1.0.json
/src/schemas/json/xunit.runner.schema.json