@-ms-viewport {
  width: device-width;
}

:root {
    --bg-0: light-dark(white, #121212);
    --bg-1: light-dark(#f1f1f1, #0e0e0e);
    --bg-2: light-dark(#c0c0c0, #000);
    --fg-0: light-dark(#333, #e0e0e0);
    --fg-link: light-dark(dodgerblue, #67b4ff);
    --bg-header: light-dark(#555, #222);
    --fg-header: light-dark(white, var(--fg-0));
    --bg-selection: light-dark(#000, initial);
    --fg-selection: light-dark(white, initial);
}

body {
  font:
    18px/1.5 'Segoe UI',
    'Segoe WP Light',
    'Segoe WP',
    Tahoma,
    Arial,
    sans-serif;
  margin: 0;
  background: var(--bg-0);
  color: var(--fg-0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

h1 {
  margin: 0;
  font-size: 1.65em;
  font-weight: normal;
}

h2,
h3 {
  font-size: 30px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  color: var(--fg-link);
}

a:hover {
  text-decoration: none;
}

ol {
  list-style-position: inside;
  padding: 0;
}

::selection {
  background: var(--bg-selection);
  color: var(--fg-selection);
}

::-moz-selection {
  background: var(--bg-selection);
  color: var(--fg-selection);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

header {
  background: var(--bg-header);
  color: var(--fg-header);
  height: 60px;
  line-height: 60px;
}

header h1 a {
  color: var(--fg-header);
  text-decoration: none;
  margin: 0;
}

#main article {
  overflow: hidden;
  margin-top: 1.5em;
}

#main article p:first-child {
  margin: 0;
}

#main article:first-child h3 {
  font-size: 1em;
  font-weight: normal;
}

#main article pre {
  overflow: auto;
  max-width: 100%;
  background: var(--bg-1);
  padding: 0.6em;
  border: 1px solid var(--bg-2);
  border-radius: 5px;
  line-height: normal;
}

#main article img {
  margin-bottom: 1em;
}

#main article img.left {
  float: left;
  margin-right: 2em;
}

#main article img.right {
  float: right;
  margin-left: 2em;
}

#schemalist,
#editorlist {
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}

.columns li {
  display: block;
  width: 33%;
  min-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.columns li:before {
  content: '♦';
  margin-right: 10px;
}

#editorlist li {
  /*width: 50%;*/
}

footer {
  text-align: right;
  font-size: 80%;
  clear: both;
}

footer p {
  border-top: 1px solid var(--bg-1);
  margin-top: 50px;
  padding-top: 10px;
}

footer a {
  color: inherit;
}

@media print {
  footer {
    display: none;
  }
}
