@-ms-viewport {
    width: device-width;
}

body {
    font: 18px/1.5 "Segoe UI","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
    margin: 0;
    background: white;
    color: #333;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

h1 {
    margin: 0;
    font-size: 1.9em;
    font-weight: normal;
}

h2, h3 {
    font-size: 30px;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

a {
    color: dodgerblue;
}

    a:hover {
        text-decoration: none;
    }

ol {
    list-style-position: inside;
    padding: 0;
}

::selection {
    background: #000;
    color: white;
}

::-moz-selection {
    background: #000;
    color: white;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    background: #555;
    color: #fff;
    padding: 1.3em 0;
}

    header h1 a {
        color: #fff;
        text-decoration: none;
        margin: 0;
    }

#main article {
    overflow: hidden;
    margin-top: 1.5em;
}

    #main article p:first-child {
        margin: 0;
    }

    #main article:first-child h3 {
        font-size: 1em;
        font-weight: normal;
    }

    #main article pre {
        overflow: auto;
        max-width: 100%;
        background: #f1f1f1;
        padding: .6em;
        border: 1px solid silver;
        border-radius: 5px;
        line-height: normal;
    }

    #main article img {
        margin-bottom: 1em;
    }

        #main article img.left {
            float: left;
            margin-right: 2em;
        }

        #main article img.right {
            float: right;
            margin-left: 2em;
        }

nav {
    width: 100%;
    background: orange;
}

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav li {
        display: inline-block;
        padding: 5px 0;
        margin-right: 15px;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-weight: 600;
    }

#schemalist {
    max-height: 0;
    -moz-transition: max-height 3.5s ease-in;
    -o-transition: max-height 3.5s ease-in;
    -webkit-transition: max-height 3.5s ease-in;
    transition: max-height 3.5s ease-in;
    width: 100%;
}

    #schemalist ul {
        -moz-columns: 250px;
        -webkit-columns: 250px;
        columns: 250px;
        -moz-column-gap: .5em;
        -webkit-column-gap: .5em;
        column-gap: .5em;
        padding: 0;
        list-style: none;
    }

    #schemalist li:before {
        content: "♦";
    }

    #schemalist li a {
        padding-left: 10px;
    }

footer {
    text-align: right;
    font-size: 80%;
    clear: both;
}

    footer p {
        border-top: 1px solid #f1f1f1;
        margin-top: 50px;
        padding-top: 10px;
    }

    footer a {
        color: inherit;
    }

@media print {
    footer {
        display: none;
    }
}
