@-ms-viewport {
  width: device-width;
}

body {
  font:
    18px/1.5 'Segoe UI',
    'Segoe WP Light',
    'Segoe WP',
    Tahoma,
    Arial,
    sans-serif;
  margin: 0;
  background: white;
  color: #333;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

h1 {
  margin: 0;
  font-size: 1.65em;
  font-weight: normal;
}

h2,
h3 {
  font-size: 30px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  color: dodgerblue;
}

a:hover {
  text-decoration: none;
}

ol {
  list-style-position: inside;
  padding: 0;
}

::selection {
  background: #000;
  color: white;
}

::-moz-selection {
  background: #000;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

header {
  background: #555;
  color: #fff;
  height: 60px;
  line-height: 60px;
}

header h1 a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}

#main article {
  overflow: hidden;
  margin-top: 1.5em;
}

#main article p:first-child {
  margin: 0;
}

#main article:first-child h3 {
  font-size: 1em;
  font-weight: normal;
}

#main article pre {
  overflow: auto;
  max-width: 100%;
  background: #f1f1f1;
  padding: 0.6em;
  border: 1px solid silver;
  border-radius: 5px;
  line-height: normal;
}

#main article img {
  margin-bottom: 1em;
}

#main article img.left {
  float: left;
  margin-right: 2em;
}

#main article img.right {
  float: right;
  margin-left: 2em;
}

nav {
  width: 100%;
  background: #ff8d00;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 2px 0;
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

#schemalist,
#editorlist {
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}

.columns li {
  display: block;
  width: 33%;
  min-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.columns li:before {
  content: '♦';
  margin-right: 10px;
}

#editorlist li {
  /*width: 50%;*/
}

footer {
  text-align: right;
  font-size: 80%;
  clear: both;
}

footer p {
  border-top: 1px solid #f1f1f1;
  margin-top: 50px;
  padding-top: 10px;
}

footer a {
  color: inherit;
}

@media print {
  footer {
    display: none;
  }
}
