body {
    overflow-y: scroll;
}

.test {
    min-height: 900px;
}

ul {
    list-style: none;
    padding: 0;
}

#result {
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
    column-width: 300px;
}

    #result > li {
        -webkit-column-break-inside: avoid;
        -webkit-break-inside: avoid-column;
        break-inside: avoid-column;
        page-break-inside: avoid;
        margin-bottom: 1em;
        font-weight: bold;
    }

    #result ul {
        font-weight: normal;
        padding-left: .5em;
    }

    #result a:nth-child(2) {
        display: block;
        margin: 0 0 0 3em;
        font-size: .8em;
        color: #333;
    }

ul ul li:before {
    content: '⌛ ';
    width: 25px;
    line-height: 25px;
    display: inline-block;
}

[aria-invalid=false]:not(progress):before {
    content: '✔ ';
    color: green;
}

[aria-invalid=true],
[aria-invalid=true] a {
    color: red;
}

    [aria-invalid=true]:not(progress):before {
        content: '✘ ';
    }

#recap {
    margin-bottom: 0;
}

progress {
    width: 100%;
    background: #f1f1f1;
    color: green;
    border: none;
    height: 15px;
    border-radius: 2px;
}

    progress::-moz-progress-bar {
        background: green;
        border-radius: 2px;
    }

    progress[aria-invalid=true]::-moz-progress-bar {
        background: red;
    }

    progress::-webkit-progress-bar {
        background: #f1f1f1;
    }

    progress[aria-invalid=true]::-webkit-progress-value {
        background: red;
    }
