@{
	Page.Title = "CSS Schema Store";
	Page.Description = "Schema definition files for CSS";
	Layout = "~/_layout.cshtml";
}

<div>
    <br /><br /><br />
	Coming soon...
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
