@{
	Page.Title = "CSS Schema Store";
	Page.Description = "Schema definition files for CSS";
	Layout = "~/_layout.cshtml";
}

<article id="schemalist">
	<h3 id="count">CSS schemas are available for the following {0} modules:</h3>

	<ul id="schemas" role="directory" data-api="/api/css/jsonapi.ashx"></ul>
</article>
<article>
	<h3>Auto completion</h3>
	<p>
		<img src="~/img/css-autocomplete.png" width="320" height="138" alt="CSS auto completion" class="right" />
		In supported CSS editors, the schema files provides the auto completion as well as validation
		and tooltips which is a huge productivity boost for web development.
	</p>

	<p>
		The schemas files contain information about browser support, so web developers always
		knows what properties, @@-directives and pseudos are supported.
	</p>
</article>

<article>
	<h3>Public API</h3>
	<p>
		<img src="/img/xml.png" width="246" height="128" alt="Public API for CSS schemas" class="left" />
		The XML <a href="~/api/css/jsonapi.ashx">API</a> contains a list of CSS schema files that
		make up the CSS specification by the W3C as well as various vendor extensions.

		Each schema file can be consumed by Visual Studio 2012 and newer.
	</p>
</article>
