@{
	Page.Title = "JavaScript Schema Store";
	Page.Description = "Intellisense definition files for JavaScript";
	Layout = "~/_layout.cshtml";
}

<article id="schemalist">
    <h3 id="count">JavaScript Intellisense are available for the following {0} files/libraries:</h3>

    <ul id="schemas" role="directory" data-api="/api/javascript/catalog.json"></ul>
</article>

<article>
    <h3>Auto completion</h3>
    <p>
        <img src="~/img/javascript-autocomplete.png" width="336" height="202" alt="JavaScript auto completion" class="right" />
        In supported JavaScript editors, Intellisense files offers auto-completion
        for a more productive workflow.
    </p>

    <p>
        Visual Studio uses the files to offer advanced and precise auto-completion
        for a wide variety of libraries.
    </p>
</article>

<article>
    <h3>Public API</h3>
    <p>
        <img src="/img/api.png" width="256" height="88" alt="Public API for JSON Schemas" class="left" />
        The JSON <a href="~/api/javascript/catalog.json">API</a> contains a list of JavaScript Intellisense files for
        known JavaScript files and libraries.
        Each Intellisense file can be consumed by Visual Studio 2013 and newer.
    </p>
    <p>
        The API exposes metadata about each Intellisense file in the following format:
    </p>
<pre>
{
  "name": "Angular Intellisense",
  "description": "Intellisense for angular.js files",
  "url": "http://javascript.schemastore.org/angular.intellisense.js"
}
</pre>
    <p>
        <code>name</code>, <code>description</code> and <code>url</code> are all required properties.
        <br />
        The <code>url</code> property is an absolute URI pointing to the file.
        It can be hosted anywhere on the web.
    </p>
</article>
