<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="cdnPath" value=""/>
        <add key="minify" value="true"/>
        <add key="vs:enableBrowserLink" value="false"/>
    </appSettings>

    <system.web>
        <compilation debug="false" targetFramework="4.5.1">
            <assemblies>
                <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
        </compilation>

        <httpRuntime enableVersionHeader="false"/>
    </system.web>

    <system.webServer>

        <handlers>
            <add name="FingerPrint" verb="GET" path="*.html" type="StaticWebHelper.FingerPrintHandler"/>
        </handlers>

        <httpProtocol>
            <customHeaders>
                <remove name="x-powered-by"/>
                <add name="Content-Security-Policy" value="object-src 'none';"/>
                <add name="Arr-Disable-Session-Affinity" value="True"/>
                <add name="Vary" value="Accept-Encoding, If-Modified-Since"/>
                <add name="Access-Control-Allow-Origin" value="*"/>
            </customHeaders>
        </httpProtocol>

        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public"/>
            <remove fileExtension=".html"/>
            <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8"/>
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8"/>
            <remove fileExtension=".ico"/>
            <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
        </staticContent>

        <rewrite>
            <rules>
                <!--<rule name="Remove www" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="www.*"/>
                    </conditions>
                    <action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent"/>
                </rule> -->
                <rule name="Redirects to www.schemastore.org" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^(schemastore.org)+" />
                    </conditions>
                    <action type="Redirect" url="https://www.schemastore.org/{R:0}" appendQueryString="true" redirectType="Temporary" />
                </rule>

                <rule name="Sub domain">
                    <match url="^(.+)"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^(json|css|javascript)\.(.+)"/>
                    </conditions>
                    <action type="Rewrite" url="/schemas/{C:1}/{R:1}"/>
                </rule>

                <!--<rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.*\.html)/" ignoreCase="true"/>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
                </rule>-->

                <rule name="FingerPrint" stopProcessing="true">
                    <match url="(.+)(\.[0-9]{18})\.([a-z]{2,4})$"/>
                    <action type="Rewrite" url="{R:1}.{R:3}"/>
                </rule>

                <rule name="Support extensionless .json files" stopProcessing="true">
                    <match url=".+" ignoreCase="true" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^json."/>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="{R:0}.json"/>
                </rule>
            </rules>

            <outboundRules rewriteBeforeCache="false">
                <rule name="Send correct Vary">
                    <match serverVariable="RESPONSE_Vary" pattern=".+"/>
                    <action type="Rewrite" value="Accept-Encoding, If-Modified-Since"/>
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
