name: 'Make Commit'

on:
  schedule:
    # Every day at 23:30 UTC.
    - cron: '30 23 * * *'
  push:
    branches: ['master']
  workflow_dispatch:

permissions:
  contents: 'read'
  pages: 'write'
  id-token: 'write'

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  build:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'write'
      pull-requests: 'write'
    steps:
      - uses: 'actions/checkout@v5'
      - uses: 'actions/setup-node@v4'
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: './package-lock.json'
      - run: 'npm clean-install'
      - run: 'node ./cli.js build-xregistry'
      - uses: peter-evans/create-pull-request@v7
