name: 'Validate JSON Schemas'

on: [push, pull_request]

jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: './package-lock.json'
      - run: 'npm clean-install'
      - run: 'npm run typecheck'
      - run: 'npm run eslint'
      - run: 'node ./cli.js check'
